<template>
  <!-- REGISTER FORM -->
  <div class="mdl-grid" >
    <div class="signup-card mdl-shadow--16dp util-center util-spacing-h--40px">
      <div class="mdl-card__title mdl-color--orange-500">
        <h2 class="mdl-card__title-text mdl-color-text--white">Register your store</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-grid">
        <div>
          <p v-if="ok" class="mdl-color-text--green">Our executives will contact you soon.</p>

          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_name">Store Name</label>
            <input class="mdl-textfield__input" type="text" id="textfield_new_name" name="storename"/>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_new_number">Phone Number</label>
            <input class="mdl-textfield__input" type="number" id="textfield_new_number" name="phonenumber"/>
            <span class="mdl-textfield__error">3-15 characters with only lowercase letters, digits, underscore, and hyphen</span>
          </div>

          <div class="mdl-cell mdl-cell--12-col send-button" align="center">
            <button v-on:click="register" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored" id="signup">
              Register
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'sign-up',
    data: function () {
      return {
        ok: false
      }
    },
    methods: {
      register: function () {
        this.ok = true
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped="true">


  .mdl-layout {
    align-items: center;
    justify-content: center;
  }
  .mdl-layout__content {
    padding: 24px;
    flex: none;
  }
  .signup-card{
    margin: auto;
    background: #fff;
    border-radius: 10px;
  }
</style>
