<template>
  <main class="mdl-layout__content">
    <div class="catalogue_main_wrapper">
      <div class="catalogue_header">
        <div class="add_new_listing">
          <p class="my_listing_text">Add new product</p>
        </div>
      </div>
      <div style="text-align: left" class="col-lg-8">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Product Title</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of the product" v-model="title">
          </div>
          <div class="form-group">
            <label>Product Description</label>
            <textarea rows="3" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Short product description"></textarea>
          </div>
          <div class="form-group">
            <label>SKU</label>
            <input class="form-control" type="text" placeholder="Enter A Unique SKU Code">
          </div>
          <div class="form-group">
            <label>Stock Availablity</label>
            <select name="stockAvailability" id="stockAvailability" class="form-control">
              <option value="0">Out of stock</option>
              <option value="1">In Stock</option>
            </select>
          </div>
          <div class="form-group">
            <label>Attributes</label>
            <div class="form-control">
              <div class="form-group">
                <p>Color</p>
                <div class="input-group">
                  <label v-for="color in colorAttributes" class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" v-model="checkedColors" :value="color.title">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ color.title }}</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <p>Size</p>
                <div class="input-group">
                  <label v-for="size in sizeAttributes" class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                    <input type="checkbox" class="custom-control-input" v-model="checkedSizes" :value="size.title">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">{{ size.title }}</span>
                  </label>
                </div>
              </div>
              <span v-on:click="generateVariationsFunction" class="btn btn-success">Generate Variations</span>
            </div>
          </div>
          <div v-if="variationsVisible" class="form-group">
            <label>Variations</label>
            <div class="form-group">
              <div class="input-group form-control form-control-sm">
                <label>Price :</label>
                <input class="form-text" type="number" placeholder="Enter Default Amount" v-model="defaultPrice">
                <label>Stock :</label>
                <input class="form-text" type="number" placeholder="Enter Default Units" v-model="defaultStock">
                <span v-on:click="ApplyDefaultOnVariations" class="btn btn-primary">Apply</span>
              </div>
            </div>
            <div class="form-control">
              <div class="input-group" v-for="(variation, index) in variations">
                <select class="form-control form-control-sm">
                  <option v-model="variations[index].color">
                    {{ variations[index].color }}
                  </option>
                </select>
                <select class="form-control form-control-sm">
                  <option v-model="variations[index].size">
                    {{ variations[index].size }}
                  </option>
                </select>
                <input v-model="variations[index].price" class="form-control form-control-sm" type="number" placeholder="Price">
                <input v-model="variations[index].stock" class="form-control form-control-sm" type="number" placeholder="Stock">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Images</label>
            <input class="form-control" type="file" multiple>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </main>
</template>

<script>
  export default {
    name: 'add',
    data: function () {
      return {
        variationsVisible: false,
        colorAttributes: [
          {title: 'Red'},
          {title: 'Blue'},
          {title: 'Black'},
          {title: 'White'}
        ],
        sizeAttributes: [
          {title: 'Small'},
          {title: 'Medium'},
          {title: 'Large'},
          {title: 'X-Large'}
        ],
        checkedColors: [
        ],
        checkedSizes: [
        ],
        defaultPrice: '',
        defaultStock: '',
        title: '',
        variations: [
        ]
      }
    },
    methods: {
      generateVariationsFunction: function () {
        this.variations = []
        let i
        let checkedSizes = this.checkedSizes
        for (i = 0; i < checkedSizes.length; i++) {
          let j
          let checkedColors = this.checkedColors
          for (j = 0; j < checkedColors.length; j++) {
            this.variations.push({
              id: j + 1,
              size: checkedSizes[i],
              color: checkedColors[j],
              price: '',
              stock: ''
            })
          }
        }
        console.log(this.variations)
        this.variationsVisible = true
      },
      ApplyDefaultOnVariations: function () {
        let a
        for (a = 0; a < this.variations.length; a++) {
          this.variations[a].price = this.defaultPrice
          this.variations[a].stock = this.defaultStock
        }
      }

    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped="">
  .mdl-layout__content{
    display: block;
    margin: 20px;
  }
  .catalogue_header{
    text-align: left;
  }
  .my_listing_text{
    font-size: 25px;
    font-weight: bold;
  }
  .category-head-text{
    font-size: 15px;
    font-weight: bold;
  }
  .category-text-div{
    display: inline;
  }
  .mdl-layout__tab{
    color: black;
  }
  .product-data-table th{
    cursor: pointer;
  }
  .product-data-action-tab div{
    margin: 3px;
    padding: 5px 30px;
    border: solid 0.5px #868686;
    text-align: center;
  }
  .product-data-action-tab div span{
    cursor: pointer;
  }
  .product-data-action-div{
    margin: 1px;
  }
  .product-data-content-tab{
    margin: 3px;
    padding: 5px;
    border: solid 0.5px #868686;
    text-align: left;
  }
  .form-control{
    margin: 3px;
  }
  .form-text{
    margin: 0 5px;
  }
</style>
