<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'catalogue',
    data: function () {
      return {

      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped="true">


</style>
