<template>
  <div class="catalogue_main_wrapper">
    <div class="catalogue_header row">
      <div class="col-lg-5 add_new_listing">
        <p class="my_listing_text">My Listings</p>
        <router-link :to="{ name: 'AddCatalogue'}">
          <button class="btn btn-primary">Add new Listings</button>
        </router-link>
      </div>
      <div class="col-lg-7 listing_search form-group">
        <label for="listing_search_input" class="listing_search_label">Search for Title,SKU or Keywords</label>
        <input id="listing_search_input" class="form-control" type="text">
      </div>
    </div>
    <div class="catalogue_main_body">
      <div class="table-bordered table-responsive">
        <table v-if="showMobileTable" class="table">
          <thead>
          <tr>
            <th>#</th>
            <th><icon class="material-icons">image</icon></th>
            <th>
              Title
            </th>
          </tr>
          </thead>
          <tbody>
          <th>1</th>
          <th><img src="../../assets/images/200x200.svg" alt="" class="img-thumbnail"></th>
          <th>
            Martin Garrix DJ Fan Art Full Sleeves T-shirt | Tshirt By TrippyWear<span style="text-align: right"><icon v-on:click="expandTitle" class="material-icons">expand_more</icon></span>
            <div>
              <span class="title-text-id-color">ID : 153</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">Edit</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">View</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">Trash</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">Duplicate</span>
            </div>
            <div v-if="expandTitleDiv" class="title-details-div">
              <div>
                <span>SKU</span>
                <p>test-sku</p>
              </div>
              <div>
                <span>Stock</span>
                <p>In Stock</p>
              </div>
              <div>
                <span>Price</span>
                <p>₹399</p>
              </div>
              <div>
                <span>Date</span>
                <p>24th Jan 2017</p>
              </div>
            </div>
          </th>
          </tbody>
        </table>
        <table v-if="showDesktopTable" class="table">
          <thead>
          <tr>
            <th>#</th>
            <th><icon class="material-icons">image</icon></th>
            <th>
              Title
            </th>
            <th>SKU</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Categories</th>
            <th>Tags</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <th>1</th>
          <th><img src="../../assets/images/200x200.svg" alt="" class="img-thumbnail"></th>
          <th>
            Martin Garrix DJ Fan Art Full Sleeves T-shirt | Tshirt By TrippyWear
            <div>
              <span class="title-text-id-color">ID : 153</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">Edit</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">View</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">Trash</span>
              <span class="title-bar-color">|</span>
              <span class="title-text-action-color">Duplicate</span>
            </div>
          </th>
          <th>test-sku</th>
          <th>In Stock</th>
          <th>₹399</th>
          <th>Music</th>
          <th>DJ,Music</th>
          <th>11th Jan 2017</th>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'showList',
    data: function () {
      return {
        addProduct: true,
        showDetails: false,
        web: true,
        w: window.innerWidth,
        showMobileTable: true,
        showDesktopTable: false,
        expandTitleDiv: false
      }
    },
    mounted () {
      if (this.$breakpoints.isLargeDesktop()) {
        this.showMobileTable = false
        this.showDesktopTable = true
      }
    },

    methods: {
      closeAddProduct: function () {
        this.addProduct = false
      },
      dropShowDetails: function () {
        if (this.showDetails === false) {
          this.showDetails = true
        } else if (this.showDetails === true) {
          this.showDetails = false
        }
      },
      expandTitle: function () {
        if (this.expandTitleDiv === false) {
          this.expandTitleDiv = true
        } else if (this.expandTitleDiv === true) {
          this.expandTitleDiv = false
        }
      },
      addListingClick: function () {
        this.$router.replace('AddCatalogue')
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
  .catalogue_main_wrapper{
    margin: 20px;
  }
  .catalogue_header{
  }
  .add_new_listing{
    text-align: left;
  }
  .my_listing_text{
    font-size: 25px;
    font-weight: bold;
  }
  .listing_search_label{
    font-size: 18px;
    font-weight: bold;
  }
  .listing_search{
    text-align: right;
    margin-top: 10px;
  }
  .btn{
    margin-top: 1px;
  }
  .arrow{
    margin-right: 10px;
    color: #000000;
  }
  .eye{
    color: #8085ff;
  }
  .close{
    color: #ff4b37;
  }
  .details_table_head{
    color: #4b4b4b;
    margin: 5px;
  }
  .details_table_body{
    color: #4b4b4b;
    font-size: 12px;
    margin: 5px;
  }
  .table{
    text-align: left;
  }
  .img-thumbnail{
    max-height: 50px;
    max-width: 50px;
  }
  .title-text-id-color{
    color: grey;
  }
  .title-bar-color{
    color: #c4c4c4;
  }
  .title-text-action-color{
    color: #1295ff;
    cursor: pointer;
  }
  .title-details-div span{
    color: black;
    text-align: left;
  }
  .title-details-div p{
    margin-left: 10px;
    color: grey;
    text-align: right;
    display: inline-block;
  }

</style>
