﻿<template>
  <main class="main">
  				<h3>Orders</h3>
	  			<p>Puchase/Sales</p>
  		<div class="row">
		  		<div class="col-lg-4">
		  			<div class="panel panel-default">
		  				<div class="panel-body" style="margin: 17px 0 19px 0;"><span class="red">
                <h3>Order book</h3>
              </span>
                <div class="form-group">
                  <label for="ordernumber">Order Number</label>
								  <input id="ordernumber" type="text" class="form-control" />
								</div>
              <div class="form-group">
                  <label for="orderdate">Date</label>
								  <input id="orderdate" type="text" class="form-control" />
								</div>
              </div>
              <div class="form-group">
                  <label for="ordertype">Order Type</label>
								  <input id="ordertype" type="text" class="form-control" />
								</div>
              <div class="form-group">
                <button class="btn btn-info" >Submit</button>
              </div>
              </div>
            </div>
          <div class="col-lg-4">
		  			<div class="panel panel-default">
		  				<div class="panel-body" style="margin: 17px 0 19px 0;"><span class="red">
                <h3>Sale book</h3>
              </span>
                <div class="form-group">
                  <label for="ordernumber">Sale Number</label>
								  <input id="ordernumber" type="text" class="form-control" />
								</div>
              <div class="form-group">
                  <label for="orderdate">Date</label>
								  <input id="orderdate" type="text" class="form-control" />
								</div>
              </div>
              <div class="form-group">
                  <label for="ordertype">Sale Type</label>
								  <input id="ordertype" type="text" class="form-control" />
							</div>
              <div class="form-group">
                <button class="btn btn-info" >Submit</button>
              </div>
              </div>
            </div>
          <div class="col-lg-4">
		  			<div class="panel panel-default">
		  				<div class="panel-body" style="margin: 17px 0 19px 0;"><span class="red">
                <h3>Sale book</h3>
              </span>
                <div class="form-group">
                  <label for="ordernumber">Sale Number</label>
								  <input id="ordernumber" type="text" class="form-control" />
								</div>
              <div class="form-group">
                  <label for="orderdate">Date</label>
								  <input id="orderdate" type="text" class="form-control" />
								</div>
              </div>
              <div class="form-group">
                  <label for="ordertype">Sale Type</label>
								  <input id="ordertype" type="text" class="form-control" />
							</div>
              <div class="form-group">
                <button class="btn btn-info" >Submit</button>
              </div>
              </div>
            </div>
		  </div>
  </main>
</template>

<script >
  export default {
    name: 'orders'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.main
{
  position:relative;
  margin-left:15px;
  margin-right:15px;	
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,.05);
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.05);
}
div {
    display: block;
}
</style>		
