<template>
  <main class="mdl-layout__content">
      <span>Dashboard</span>
  </main>
</template>

<script>
  export default {
    name: 'dashboard'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
</style>
