<template>
  <main class="mdl-layout__content">
    <span>Login</span>
  </main>
</template>

<script>
  export default {
    name: 'login'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style>
</style>
