<template>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">

      <div class="mdl-layout__header-row">

        <span class="mdl-layout-title">Store Manager</span>

      </div>

    </header>

    <div class="mdl-layout__drawer">

      <span class="mdl-layout-title">Store Manager</span>

      <nav class="mdl-navigation">

        <router-link class="mdl-navigation__link" to="/" @click.native="hideMenu"><i class="material-icons">home</i>Dashboard</router-link>

        <router-link class="mdl-navigation__link" to="/orders" @click.native="hideMenu"><i class="material-icons">add_shopping_cart</i>Orders</router-link>

        <router-link class="mdl-navigation__link" to="/catalogue" @click.native="hideMenu"><i class="material-icons">style</i>Catalogue</router-link>

        <router-link class="mdl-navigation__link" to="/inventory" @click.native="hideMenu"><i class="material-icons">store</i>Inventory</router-link>

        <router-link class="mdl-navigation__link" to="/customers" @click.native="hideMenu"><i class="material-icons">face</i>Customers</router-link>

        <router-link class="mdl-navigation__link" to="/reports" @click.native="hideMenu"><i class="material-icons">description</i>Reports</router-link>

        <router-link class="mdl-navigation__link" to="/settings" @click.native="hideMenu"><i class="material-icons">settings</i>Settings</router-link>

        <router-link class="mdl-navigation__link" to="/support" @click.native="hideMenu"><i class="material-icons">feedback</i>Support</router-link>

      </nav>

    </div>

    <main class="mdl-layout__content">

      <div class="page-content">

        <router-view></router-view>

      </div>

    </main>
  </div>
</template>

<script>
  import 'bootstrap/dist/css/bootstrap.css'
  import 'bootstrap-vue/dist/bootstrap-vue.css'

  require('material-design-lite')

  export default {
    name: 'app',
    methods: {
      hideMenu: function () {
        document.getElementsByClassName('mdl-layout__drawer')[0].classList.remove('is-visible')
        document.getElementsByClassName('mdl-layout__obfuscator')[0].classList.remove('is-visible')
      }
    }
}
</script>

<style>

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://code.getmdl.io/1.2.1/material.blue-red.min.css');

.material-icons{
  margin-right: 10px;
}
.mdl-layout__header-row{
    height: 45px;
  }

body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

main {
  text-align: center;
  margin-top: 00px;
}

header {
  margin: 0;
  height: 56px;
  padding: 0 16px 0 24px;
  background-color: #ffffff;
  color: #ffffff;
}

header span {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
  box-sizing: border-box;
  padding-top: 16px;
}
.mdl-layout{
  min-height: 100%;
  background: #ffffff;
}
</style>
