<template>
  <main class="mdl-layout__content">
    <span>Settings</span>
  </main>
</template>

<script>
  export default {
    name: 'settings'
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style>
</style>
